body {
	font-family: Overpass, sans-serif;
	color: #303030;
}

.is-bolder {
	font-weight: 800;
	font-size: 2.5rem !important;
	letter-spacing: -2px;
	margin-bottom: 3px !important;
}

.header-links {
	max-width: 400px;
	min-width: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.separator:before {
	content: '/';
}

.separator {
	font-size: 2.2em;
	font-weight: 200;
}

.header-links>a {
	font-weight: bold;
	color: #303030;
}

.header-links>a:hover {
	color: #3273dc;
}

.is-hero-text {
	font-size: 2.7rem !important;
	letter-spacing: -0.1rem;
	font-weight: 800;
}

.edgy-box {
	background: #EFEFEF;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	border: 4px solid #303030;
	box-shadow: 10px 10px 0px #303030;
	font-weight: bold;
}

.bolder {
	font-weight: 800;
}

.loves-animated {
	text-decoration: underline;
}