{{ define "main" }}
  <main class="mt-24">
    <div class="relative mx-auto aspect-square max-h-[500px] max-w-[500px]">
      <div class="absolute left-0 top-0 h-full w-full">
        <img
          src="/question-mark-ping.gif"
          alt="question mark ping"
          width="{500}"
          height="{500}"
          class="aspect-square w-full"
        />
      </div>
      <div
        class="absolute left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-50 p-2"
      >
        <div class="text-center">
          <h1 class="mb-8 text-9xl font-bold text-spring">404</h1>
          <h2 class="mb-3 text-2xl md:text-3xl">
            i wasn't able to find<br />what you're looking for :(
          </h2>
          <h3 class="text-md text-gray-300 md:text-lg">
            if you know this is a mistake,
            <a
              href="https://github.com/adityarathod/adityarathod.github.io/issues"
              class="text-cyan"
            >
              file an issue!
            </a>
          </h3>
        </div>
      </div>
    </div>
  </main>
{{ end }}
