{{ template "_internal/google_analytics.html" . }}


<footer
  class="mt-8 pb-10 flex flex-row items-center text-sm text-zinc-700 dark:text-zinc-400"
>
  <div class="flex-1">
    <p>Copyright {{ now.Year }} {{ .Site.Params.Author.name }}.</p>
    <p class="text-xs mt-1 opacity-50" id="special-msg">last played on spotify: loading...</p>
  </div>
  <div>
    <button class="btn-dark text-cyan"></button>
  </div>
</footer>

{{/* Dark mode */}}
<script>
  const htmlClass = document.body.classList;
  const btnDark = document.querySelector('.btn-dark');

  const setDark = (isDark) => {
    htmlClass[isDark ? 'add' : 'remove']('dark');
    localStorage.setItem('dark', isDark);
    btnDark.innerHTML = isDark ? '☀️' : '🌙';
  };

  // init
  const darkScheme = window.matchMedia('(prefers-color-scheme: dark)');
  if (!htmlClass.contains('dark')) {
    setDark(false);
  } else {
    const darkVal = localStorage.getItem('dark');
    setDark(darkVal ? darkVal === 'true' : darkScheme.matches);
  }

  // listen system
  darkScheme.addEventListener('change', (event) => {
    setDark(event.matches);
  });

  // manual switch
  btnDark.addEventListener('click', () => {
    setDark(localStorage.getItem('dark') !== 'true');
  });
</script>

{{/* Special messages */}}
<script>
  (async () => {
    const res = await fetch('https://recentfm.rknight.me/now.php?username=adibytes&emoji=a&nomoji=true');
    const data = await res.json();
    const html = data.content || '';
    const textMatch = html.match(/>([^<]+)<\/a>/);
    const title = textMatch ? textMatch[1].toLowerCase() : 'unavailable';
    document.querySelector('#special-msg').textContent = `last played on spotify: ${title}`;
  })();
</script>
