<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <title>
    {{ if not .IsHome }}{{ .Title }} -&nbsp;{{ end }}{{ site.Title }}
  </title>

  <!-- Meta -->
  <meta name="theme-color" />

  {{ $site_author := or site.Author.name site.Params.name site.Title }}
  {{ if eq .Kind "page" }}
    <meta name="title" content="{{ .Title }}" />
    <meta name="description" content="{{ .Summary }}" />
    <meta name="author" content="{{ or .Params.author $site_author }}" />
  {{ else if (isset .Page.Params "description") }}
    <meta name="description" content="{{ .Page.Params.Description }}" />
    <meta name="author" content="{{ $site_author }}" />
  {{ else }}
    <meta
      name="description"
      content="{{ site.Params.description | default (print `A personal blog`) }}"
    />
    <meta name="author" content="{{ $site_author }}" />
  {{ end }}

  {{ template "_internal/opengraph.html" . }}


  <!-- Styles & Scripts -->
  {{ $main := resources.Get "main.css" }}
  <!---->
  {{ $custom := resources.Get "custom.css" }}
  <!---->
  {{ $css := slice $main $custom | resources.Concat "main.css" | minify }}
  <link rel="preload stylesheet" as="style" href="{{ $css.Permalink }}" />
</head>
