<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body class="dark">
    {{/* Layout container */}}
    <div
      class="mx-auto max-w-3xl px-8 md:px-10"
    >
      <div>
        {{/* Navbar */}}
        {{ partial "header.html" . }}
      </div>
      <div class="py-10">{{ block "main" . }}{{ end }}</div>
      {{/* Footer */}}
      {{ partial "footer.html" . }}
    </div>
    {{ with .Params.math }}
      {{ partial "math.html" . }}
    {{ end }}
  </body>
</html>
