.container {
	margin-top: 50px;
	font-family: Lato, Raleway;
}


body {
	background-color: #f4f4f4;
}
}
#nav {
	margin: 13px 0 0 0;
}

#nav ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
}

#nav a {
	text-decoration: none;
	color: black;
}

#nav a:hover {
	text-decoration: underline;
}

#pictureslider {
	margin-bottom: 15px;
	max-width: 100%;
	height: auto;
}
#pictureslider img {
	max-width: 100%;
	height: auto;
}
.social-button {
	cursor: pointer;
}
@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
