.container {
	margin-top: 50px;
	font-family: Lato, Raleway;
	background-repeat: repeat repeat;
	background-image: url("http://etc.usf.edu/presentations/backgrounds/grid/grid_02/1104m.gif");
}

#nav {
	margin: 13px 0 0 0;
}

#nav ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
}

#nav a {
	text-decoration: none;
	color: black;
}

#nav a:hover {
	text-decoration: underline;
}

#pictureslider {
	margin-bottom: 15px;
	max-width: 100%;
	height: auto;
}
#pictureslider img {
	max-width: 100%;
	height: auto;
}
@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
